/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2023, 5:24:09 PM
    Author     : ADMIN
*/
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}

.wrap {
    text-align: center;
    width: 80%;
}

.container {
    background-color: white;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

.container__header__left {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.nav__container {
    margin-top: 11px;
    width: 75%;
    height: 7%;
    display: flex;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-radius: 26px;
}

.nav__title__container {
    width: 34%;
}

.nav__title {
    width: 100%;
    height: 100%;
    font-size: 250%;
    border: none;
    border-radius: 24px;
    background-color: #ffffff;
}

.nav__title:hover {
    width: 100%;
    height: 100%;
    font-size: 250%;
    border: none;
    border-radius: 24px;
    background-color: #e3b4b1;
}

.nav__title__active {
    width: 100%;
    height: 100%;
    font-size: 250%;
    border: none;
    border-radius: 24px;
    background-color: #d06760;
    color: #ffffff;
}

.body__container {
    width: 100%;
    height: 72%;
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.text {
    font-size: 35px;
}

.hidden__text {
    display: none;
}