
.lg-btn{
    outline: none;
    border-radius: 4px;
    padding: 8px 40px;
    font-size: 20px;
    cursor: pointer;
    border: 4px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
}

.main{
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.screen{
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.screen__image{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
}

.login {
    color: #fff;
    border-radius: 40px;
    background-color:#d06760;
    z-index: 1;
    width: 30%;
    margin: auto;
    padding: 0 62px;
    text-align: center;
    padding-bottom: 12px;
}

.login__header{
    margin-top: 20px;
    margin-bottom: 12px;
}

.login__input {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
}

.login__submit{
    margin-top: 20px;
    margin-bottom: 8px;
}

.login__account{
    color: #fff;   
    text-transform: uppercase;
}